/* Imports */
/* breakpoints */
/* color branding */
/*@import-once 'vars.less';*/
.clearfix {
  float: none;
  clear: both;
}
/* MOBILE FIRST! */
.expanding-pod {
  position: relative;
}
.right-side {
  position: absolute;
  height: 100%;
}
.box {
  height: 50%;
}
.box p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}
.container {
  padding: 0;
}
div {
  border: 1px solid black;
}
.box {
  box-sizing: border-box;
}
.left-side,
.right-side {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.left-side {
  padding: 5px;
}
.right-side {
  border: 0;
  right: 0;
}
.box p {
  text-align: center;
}
.clearfix {
  float: none;
  clear: both;
  border: 0;
}
/* Desktop only */
